@page "/"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column gap-3 justify-content-center align-items-center" style="height: 500px;">
    <h1 class="fs-1 fw-bold text-center">Hello, this is a demo for itransition task 4</h1>
    <AuthorizeView>
        <Authorized>
            <button class="btn btn-primary d-flex gap-1 align-items-center" @onclick="NavigateToAdminPanel">
                Go to admin panel
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
            </button>
        </Authorized>
        <NotAuthorized>
            <div>
                <button class="btn btn-primary d-flex gap-1 align-items-center" @onclick="NavigateToLogin">
                    Sign in to continue
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
                </button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code{
    void NavigateToLogin() => Navigation.NavigateTo("/Account/Login");
    void NavigateToAdminPanel() => Navigation.NavigateTo("/admin-panel");
}